/* Products - Market Sentiment Analysis CSS */

/* .page_row.page_producs.mar_117 {
    background-color: white;
}

.page_top_title > h4,
.three_column_imgtext_title > h4,
.page_row .inner > h4 {
    font-size:30px;
}

.page_row.page_producs.mar_117 h3,
.page_row.page_producs.mar_117 h4,
.page_row.page_producs.mar_117 p {
    color: #18191c;
}

.page_row.page_producs.mar_117 a.button:hover {
    color: #18181c;
}

.page_footer_banner {
    margin-top: 0;
} */